header {
    margin: 0 auto;
    display: flex;
	justify-content: space-between;
	background-color: #eaeaea;
	height: 200px;
}

.ul {
    display: flex;
	padding-right: 300px;
	
}

.ul li {
    padding: 20px;
    font-size: 30px;
}

.img {
    width: 200px;
    height: 200px;
}

.div_img {
	padding-left: 300px;
}


h1 {
	font-size: 30px;
}

h2 {
	font-size: 40px;
}


h3 {
	background-color: rgba(108, 55, 2, 0.6);
	width: 120px;
	height: 40px;
	
	background-image: url("images/cafe_logo.png");
	background-repeat: no-repeat;
	background-size: cover;
}

h3 .hot {
	padding-top: 10px;
}

.menu {
	background-color: rgba(87, 51, 3, 0.5);
	width: 400px;
	margin: 25px;
}

.kiji {
	display: flex;
}


.ar {
	width: 1450px;
	height: 1000px;
	margin: 0 auto;
}




.footer {
	text-align: center;
	margin: 0 auto;
	width: 1500px;
	height: 483px;

	background-image: url("images/cafe_footer.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.kabu {
	font-size: 30px;
}

.denwa {
	font-size: 50px
}

.small {
	position: absolute;
	left: 1420px;

}

.footer p,
.footer-img {
	padding: 10px
}
