header {
    margin: 0 auto;
    display: flex;
	justify-content: space-between;
	background-color: #eaeaea;
	height: 200px;
}

.ul {
    display: flex;
	padding-right: 300px;
}

.ul li {
    padding: 20px;
    font-size: 30px;
}

.img {
    width: 200px;
    height: 200px;
}

.div_img {
	padding-left: 300px;
}



.div_samu {
	width: 1000px;
	height: 500;
	margin: 0 auto;
	padding: 80px;
	padding-top: 40px;
}

.karen {
	padding: 80px;
    margin: 0 auto;
	width: 1211px;
	height: 766px;
	
}

.footer {
    text-align: center;
    margin: 0 auto;
    width: 1500px;
    height: 483px;

    background-image: url("images/cafe_footer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.kabu {
    font-size: 30px;
}

.denwa {
    font-size: 50px
}

.small {
    position: absolute;
    left: 1420px;

}

.footer p,
.footer-img {
    padding: 10px
}
